{%  extends 'base.html' %}

{% block title %}
<title>Edit-Profile</title>
{% endblock %}


{% block body %}

<br>
<br>
<br>
<br>
<div class="container">


  <div class="card">

  <div class="row">

  <div class="col-3">


<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link" href="/profile/" >Basic Info</a>
  <a class="nav-link active" style="background-color: #537bb2;" href="#v-pills-home">Password Change</a>
</div>



  </div>

  <!--<div style="border-left: 1px solid #EBEBEB; height: auto;margin:0px 0px 0px 90px;"></div>-->

  <div class="col-sm">
  <div class="card-body">

<form method="post">

    {% csrf_token %}



    {{form}}
    <!-- <div class="form-group col-md-5">
      <label for="id_old_password">Old Password</label>
      <input class="form-control" type="password" name="old_password" placeholder="Old Password" autofocus required id="id_old_password">
    </div>
  </div>
    <span class="helptext"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></span></p>
  <div class="form-row">
    <div class="form-group col-md-5">
      <input class="form-control" type="password" name="new_password1" placeholder="New Password" required id="id_new_password1">
    </div>
    <div class="form-group col-md-5">

      <input class="form-control" type="password" name="new_password2" placeholder="Confirm Password" required id="id_new_password2">
    </div>
  </div> -->

  <button type="submit" style="background-color: #537bb2;" class="btn btn-primary">Save</button>
</form>
  </div>
  </div>

</div>

</div>

</div>
{% endblock %}
