<!DOCTYPE html>
<html lang="en">
  <head>

      {%load static%}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "/image/browicon.png"%}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <title>OpsBoard - Password Reset</title>
  </head>
  <body style="background-color: #537bb2; height:100%">


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #537bb2;">



  <a class="navbar-brand" href="#">
      {% load static%}
    <img src="{% static "/image/opsicon.png"%}" width="30" height="30" class="d-inline-block align-top" alt="">
    OpsBoard
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div id="navbar" class="navbar-collapse collapse navbar-right">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
    </ul>
       <form class="form-inline my-2 my-lg-0">
      <a  href="/logout" class="btn btn-outline-light" role="button" aria-pressed="true">Logout</a>
    </form>
    </div>
</nav>
<div class="container" style="height:250px;"></div>
<div class="container">

  <div class="row">
    <div class="col">
      <h1 class="display-3 text-light" style="font-color:#537bb2;">Password reset</h1>
        <p class="lead text-light">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    </div>

  </div>

  <div class="row">
    <form method="post"><input type='hidden' name='csrfmiddlewaretoken' value='DISZjSnVmXcyq539ZqoOLKxOK6RzvWVhU9k9VGu40Incalts7xrallqKyS0pOvdZ' />
    {% csrf_token %}
    <div class="col">
       <input class="form-control form-control-lg" type="email" name="email" placeholder="Email Address" maxlength="254" required id="id_email">
    </div>
        <br>
    <div class="col">
     <input class="btn btn-outline-light btn-lg" type="submit" value="Reset my password" />
    </div>
    </form>
  </div>

</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>