{%  extends 'base.html' %}
{% load staticfiles %}
{% load my_tag %}
{% block title %}
<title>Task Master</title>
<style media="screen">
  .dangerbtn
  {
    background-color: #F25F5C;
    color: white;
    border-radius: 20px;
  }
  .primarycol_btn
    {
      background-color: #537bb2;
      color: white;
      border-radius: 20px;
    }
</style>
{% endblock %}


{% block body %}
<br>
       <div class="row">
            <div class="col">
            <h4 class="heading" style="color:#537bb2;">All Active Task..</h4>
            </div>
       </div>

<div style="padding:1%;" class="row">
  <table id="userTbl" class="bordered">
        <thead class="thead-dark">
          <tr>
            <input type="text" style="border-radius:0px;" class="search form-control" placeholder="What you looking for? Use this free text search">
          </tr>
          <tr>
            <th width="3%"  style="text-align:center;" scope="col">SID</th>
            <th width="30%" style="text-align:center;" scope="col">Task Title</th>
            <th width="7%"  style="text-align:center;" scope="col">Status</th>
            <th width="7%"  style="text-align:center;" scope="col">Priority</th>
            <th width="7%"  style="text-align:center;" scope="col">Task</th>
            <th width="30%" style="text-align:center;"scope="col">Comments</th>
            <th width="7%"  style="text-align:center;" scope="col">Team</th>
            <th width="7%"  style="text-align:center;" scope="col">Processer</th>
            <th width="15%"  style="text-align:center;" scope="col">Due Date</th>

          </tr>
        </thead>
        <tbody>
          {% for taskstd in alltask|dictsort:"taskid.duedate" %}
          <tr align="center">
            <td style="text-align:center;"><a href="/Task/{{taskstd.taskid.id}}">{{ taskstd.taskid.sid|upper }}</a></td>
            <td style="text-align:center;">{{ taskstd.taskid.task_title|title|truncatechars:50 }}</td>
            <td style="text-align:center;">
              <div class="container {{ taskstd.taskid.status }}">
                {{ taskstd.taskid.status }}
              </div>
            </td>
            <a href="#"></a>
            <td style="text-align:center;">{{ taskstd.taskid.priority }}</td>
            <td style="text-align:center;">{{ taskstd.taskid.tasktype }}</td>
            <td style="text-align:center;">{{ taskstd.comments|truncatechars:50 }}</td>
            <td style="text-align:center;">{{ taskstd.taskid.processingteam.name }}</td>
            <td style="text-align:center;">{{ taskstd.taskid.processor.last_name }}</td>
            <td style="text-align:center;">{{ taskstd.taskid.duedate|date:"M.dS" }}</td>

          </tr>
          {% endfor %}

        </tbody>
    </table>
  <script type="text/javascript" src="{% static "js/tablesearch.js"%}"></script>
</div>

{% endblock %}
