{%  extends 'base.html' %}
{% load staticfiles %}
{% load my_tag %}
{% block title %}
<title>Task Master</title>
<style media="screen">
.dangerbtn
  {
    background-color: #F25F5C;
    color: white;
    border-radius: 20px;
  }
  .primarycol_btn
    {
      background-color: #537bb2;
      color: white;
      border-radius: 20px;
    }
</style>
{% endblock %}


{% block body %}


<div style="display: none;" id="myDIV" class="container" >
        <br>
               <div class="row">
                    <div class="col">
                    <h4 class="display-3 heading" style="color:#537bb2;">Create Task..</h4>
                    </div>
               </div>
        <br>
        <form id="task_create" method="POST" action="." data-url='/taskcreate/' novalidate>
          {# {% csrf_token %} #}

              <div class="row">
                <div class="input-field col s12 m2 l1">
                    {{ form.sid }}
                  <label  for="sid">SID</label>
                </div>
                <div class="input-field col s12 m3 l2">
                  {{ form.datacenter }}
                <label for="sid">Data Center</label>
                </div>
                <div class="input-field col s12 m3 l2">
                  {{ form.priority }}
                <label for="sid">Priority</label>
                </div>
                <div class="input-field col s12 m3 l3">
                  {{ form.tasktype }}
                <label for="sid">Task Category</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m11 l8">
                    {{ form.task_title }}
                  <label for="task_title">Task Title</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m11 l8">
                    {{ form.task_description }}
                  <label for="task_description">Task Description</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m4 l3">
                    {{ form.sourceincident }}
                  <label for="first_name">Source Incident URL or NO</label>
                </div>
                <div class="input-field col s12 m3 l2">
                    {{ form.duedate }}
                  <label for="last_name">Due Date</label>
                </div>
                <div class="input-field col s12 m4 l3">
                  {{ form.processingteam }}
                <label for="last_name">Processing Team</label>
                </div>
              </div>

              <div class="row align-items-center">
                <div class="form-group col s6 m4 l2">
                  <button id="create_task" class="btn waves-effect waves-light primarycol_btn" type="submit" name="action">Submit</button>
                </div>


          </form>
          <div class="form-group col s6 m4 l">
            <a href="{% url 'taskpg:task_master' %}" class="waves-effect waves-light btn dangerbtn">Cancel</a>
          </div>
          </div>
        </div>

<br>

<div id="tab">
  <ul class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons primarycol_alt">filter_drama</i> <strong>Task By Team</strong><span style="color:white;" class="badge myBadges">{{all_task}}</span></div>
            <div class="collapsible-body">
              <table id="userTbl" class="bordered">
                    <thead class="thead-dark">
                      <tr>
                        <input type="text" style="border-radius:0px;" class="search form-control" placeholder="What you looking for? Use this free text search">
                      </tr>
                      <tr>
                        <th width="3%"  style="text-align:center;" scope="col">SID</th>
                        <th width="30%" style="text-align:center;" scope="col">Task Title</th>
                        <th width="7%"  style="text-align:center;" scope="col">Status</th>
                        <th width="7%"  style="text-align:center;" scope="col">Priority</th>
                        <th width="7%"  style="text-align:center;" scope="col">Task</th>
                        <th width="30%" style="text-align:center;"scope="col">Comments</th>
                        <th width="7%"  style="text-align:center;" scope="col">Team</th>
                        <th width="7%"  style="text-align:center;" scope="col">Processer</th>
                        <th width="15%"  style="text-align:center;" scope="col">Due Date</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for taskstd in all_active_task|dictsort:"taskid.duedate" %}
                      <tr align="center">
                        <td style="text-align:center;"><a href="/Task/{{taskstd.taskid.id}}">{{ taskstd.taskid.sid|upper }}</a></td>
                        <td style="text-align:center;">{{ taskstd.taskid.task_title|title|truncatechars:50 }}</td>
                        <td style="text-align:center;">
                          <div class="container {{ taskstd.taskid.status }}">
                            {{ taskstd.taskid.status }}
                          </div>
                        </td>
                        <a href="#"></a>
                        <td style="text-align:center;">{{ taskstd.taskid.priority }}</td>
                        <td style="text-align:center;">{{ taskstd.taskid.tasktype }}</td>
                        <td style="text-align:center;">{{ taskstd.comments|truncatechars:50 }}</td>
                        <td style="text-align:center;">{{ taskstd.taskid.processingteam.name }}</td>
                        <td style="text-align:center;">{{ taskstd.taskid.processor.last_name }}</td>
                        <td style="text-align:center;">{{ taskstd.taskid.duedate|date:"M.dS" }}</td>

                      </tr>
                      {% endfor %}

                    </tbody>
                </table>
            </div>
           </li>
        {% for task in TaskTypeTag %}
        <li>
             <div class="collapsible-header"><i class="material-icons primarycol_alt">{{task.icon}}</i> <strong>{{task.tasktype}}</strong><span style="color:white;" class="badge myBadges">{{ task.id|find_count_BNG:user.groups.all.0.id }}</span></div>
             <div class="collapsible-body">
               <table id="userTbl" class="bordered">
                     <thead class="thead-dark">
                       <tr>
                         <input type="text" style="border-radius:0px;" class="search form-control" placeholder="What you looking for? Use this free text search">
                       </tr>
                       <tr>
                         <th width="3%"  style="text-align:center;" scope="col">SID</th>
                         <th width="30%" style="text-align:center;" scope="col">Task Title</th>
                         <th width="7%"  style="text-align:center;" scope="col">Status</th>
                         <th width="7%"  style="text-align:center;" scope="col">Priority</th>
                         <th width="7%"  style="text-align:center;" scope="col">Incident</th>
                         <th width="30%" style="text-align:center;"scope="col">Comments</th>
                         <th width="7%"  style="text-align:center;" scope="col">Team</th>
                         <th width="7%"  style="text-align:center;" scope="col">Processer</th>
                         <th width="15%"  style="text-align:center;" scope="col">Due Date</th>

                       </tr>
                     </thead>
                     <tbody>
                       {% for taskstd in all_active_task|dictsort:"taskid.duedate" %}
                            {% if task.id == taskstd.taskid.tasktype.id %}

                       <tr align="center">
                         <td style="text-align:center;"><a href="/Task/{{taskstd.taskid.id}}">{{ taskstd.taskid.sid|upper }}</a></td>
                         <td style="text-align:center;">{{ taskstd.taskid.task_title|truncatechars:50 }}</td>
                         <td style="text-align:center;">
                           <div class="container {{ taskstd.taskid.status }}">
                             {{ taskstd.taskid.status }}
                           </div>
                         </td>
                         <td style="text-align:center;">{{ taskstd.taskid.priority }}</td>
                         <td style="text-align:center;"><a href="{{ taskstd.taskid.sourceincident}}" target="_blank">{{ taskstd.taskid.sourceincident|is_incident }}</a></td>
                         <td style="text-align:center;">{{ taskstd.comments|truncatechars:50 }}</td>
                         <td style="text-align:center;">{{ taskstd.taskid.processingteam.name }}</td>
                         <td style="text-align:center;">{{ taskstd.taskid.processor.last_name|default:"No assigned" }}</td>
                         <td style="text-align:center;">{{ taskstd.taskid.duedate|date:"M.dS" }}</td>

                       </tr>
                            {% endif %}
                       {% endfor %}

                     </tbody>
                 </table>
             </div>
           </li>
        {% endfor %}
        <li>
         <div class="collapsible-header"><i class="material-icons primarycol_alt">adb</i> <strong>Task with no processor</strong><span style="color:white;" class="badge myBadges">{{with_out_proc}}</span></div>
         <div class="collapsible-body">
           <table id="userTbl" class="bordered">
                 <thead class="thead-dark">
                   <tr>
                     <input type="text" style="border-radius:0px;" class="search form-control" placeholder="What you looking for? Use this free text search">
                   </tr>
                   <tr>
                     <th width="3%"  style="text-align:center;" scope="col">SID</th>
                     <th width="30%" style="text-align:center;" scope="col">Task Title</th>
                     <th width="10%"  style="text-align:center;" scope="col">Status</th>
                     <th width="7%"  style="text-align:center;" scope="col">Priority</th>
                     <th width="7%"  style="text-align:center;" scope="col">Task</th>
                     <th width="30%" style="text-align:center;"scope="col">Comments</th>
                     <th width="7%"  style="text-align:center;" scope="col">Team</th>
                     <th width="7%"  style="text-align:center;" scope="col">Processer</th>
                     <th width="15%"  style="text-align:center;" scope="col">Due Date</th>

                   </tr>
                 </thead>
                 <tbody>
                   {% for taskstd in all_active_task %}
                   {% if taskstd.taskid.processor.is_active == False %}
                       <tr align="center">
                     <td style="text-align:center;"><a href="/Task/{{taskstd.taskid.id}}">{{ taskstd.taskid.sid|upper }}</a></td>
                     <td style="text-align:center;">{{ taskstd.taskid.task_title|truncatechars:50 }}</td>
                     <td style="text-align:center;">
                       <div class="container {{ taskstd.taskid.status }}">
                         {{ taskstd.taskid.status }}
                       </div>
                     </td>
                     <a href="#"></a>
                     <td style="text-align:center;">{{ taskstd.taskid.priority }}</td>
                     <td style="text-align:center;">{{ taskstd.taskid.tasktype }}</td>
                     <td style="text-align:center;">{{ taskstd.comments|truncatechars:50 }}</td>
                     <td style="text-align:center;">{{ taskstd.taskid.processingteam.name }}</td>
                     <td style="text-align:center;">{{ taskstd.taskid.processor.last_name }}</td>
                     <td style="text-align:center;">{{ taskstd.taskid.duedate|date:"M.dS" }}</td>
                   </tr>
                   {% endif %}
                   {% endfor %}

                 </tbody>
             </table>
         </div>
        </li>
  </ul>

   <br>

   <div class="fixed-action-btn toolbar">
     <a class="btn-floating btn-large primarycol">
       <i class="large material-icons primarycol">mode_edit</i>
     </a>
     <ul>
       <li class="waves-effect waves-light primarycol"><a href="#!"><i class="material-icons">chat</i></a></li>
       <li class="waves-effect waves-light primarycol"><a href="#!"><i class="material-icons">search</i></a></li>
       <li class="waves-effect waves-light primarycol"><a href="#!"><i class="material-icons">archive</i></a></li>
       <li class="waves-effect waves-light primarycol"><a id="btn_show" href="#"><i class="material-icons">add_box</i></a></li>
     </ul>
   </div>

</div>

<script type="text/javascript" src="{% static "js/taskpage.js"%}"></script>
<script type="text/javascript" src="{% static "js/tablesearch.js"%}"></script>
{% endblock %}
