{%  extends 'base.html' %}
{% load staticfiles %}
{% load my_tag %}
{% block title %}
<title>Dashboard</title>
<!-- medium Stype Editor -->
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
{# <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css"> #}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
{# <link rel="stylesheet" href="{% static "js/dist/css/medium-editor.css"%}" type="text/css" media="screen" charset="utf-8"> #}
<link rel="stylesheet" href="{% static "js/dist/css/medium-editor-tables.css"%}">
{% endblock %}


{% block body %}
<br>
{# This div holds all the task related suff #}
<div style="padding:1.5%;" class="row">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons primarycol_alt">error_outline</i><strong>Important Tasks</strong><span style="color:white;" class="badge myBadges">0</span></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons primarycol_alt">access_time</i><strong>Task older than 3 days</strong><span style="color:white;" class="badge myBadges">0</span></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons primarycol_alt">face</i><strong>My Task</strong><span style="color:white;" class="badge myBadges">{{my_task.count}}</span></div>
        <div class="collapsible-body">
          {# This is loaded form the another page #}
          <table id="userTbl" class="bordered highlight">
                <thead class="thead-dark">
                  <tr>
                    <th width="2%"  style="text-align:center;" scope="col">SID</th>
                    <th width="30%" style="text-align:center;" scope="col">Task Title</th>
                    <th width="7%"  style="text-align:center;" scope="col">Task</th>
                    <th width="7%"  style="text-align:center;" scope="col">Source Incident</th>
                    <th width="1%"></th>
                    <th width="30%" style="text-align:center;"scope="col">Comments</th>


                  </tr>
                </thead>
                <tbody>
                  {% for taskstd in my_task|dictsort:"taskid.duedate" %}
                  <tr align="center">
                    <td style="text-align:center;">{{ taskstd.taskid.sid|upper }}</td>
                    <td style="text-align:center;">{{ taskstd.taskid.task_title|title|truncatechars:50 }}</td>
                    <td style="text-align:center;">{{ taskstd.taskid.tasktype }}</td>
                    <td style="text-align:center;"><a href="{{ taskstd.taskid.sourceincident}}" target="_blank">{{ taskstd.taskid.sourceincident|is_incident }}</a></td>
                    <td style="text-align:center;">
                      <!-- Modal Structure -->
                        <div id="modal{{taskstd.taskid.id}}" class="modal">
                          <div class="modal-content">
                            <div class="row">
                              <div class="col sm12 m6 l6">
                                <form action="#">

                                  <p>
                                    <strong>Status:</strong> <br>
                                    <input name="status" type="radio" checked="checked"  value="Running"  id="Running{{taskstd.taskid.id}}" />
                                    <label for="Running{{taskstd.taskid.id}}">Running</label>
                                  </p>
                                  <p>
                                    <input name="status" type="radio" value="Error" id="Error{{taskstd.taskid.id}}" />
                                    <label for="Error{{taskstd.taskid.id}}">Error</label>
                                  </p>
                                  <p>
                                    <input name="status" type="radio" value="On-Hold"  id="On-Hold{{taskstd.taskid.id}}"  />
                                    <label for="On-Hold{{taskstd.taskid.id}}">On-Hold</label>
                                  </p>
                                  <p>
                                    <input name="status" type="radio" value="Complete"  id="Complete{{taskstd.taskid.id}}" />
                                    <label for="Complete{{taskstd.taskid.id}}">Complete</label>
                                  </p>
                                </form>
                              </div>
                              <div class="col sm12 m6 l6">
                                <form action="#">

                                  <p>
                                    <strong>Put the ticket back to the queue</strong> <br>
                                    <input name="taskqueue" type="radio" value="Yes"  id="Yes{{taskstd.taskid.id}}" />
                                    <label for="Yes{{taskstd.taskid.id}}">Yes</label>
                                  </p>
                                  <p>
                                    <input name="taskqueue" type="radio" checked="checked" value="No" id="No{{taskstd.taskid.id}}" />
                                    <label for="No{{taskstd.taskid.id}}">No</label>
                                  </p>
                                </form>
                              </div>

                            </div>
                            <div class="row">
                              <input class="mycmdbox" style="padding:1%;" placeholder="Enter your comments here"  type="text">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <a value="{{taskstd.taskid.id}}" style="border-radius:20px;" class="btn waves-effect waves-light primarycol upd_cmd">Save</a>
                          </div>
                        </div>
                      <!-- Modal Structure -->
                    <td id="td_click" href="#modal{{taskstd.taskid.id}}" class="modal-trigger cmd_old" style="text-align:center;">{{ taskstd.comments }}</td>
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
            </table>
        </div>
      </li>
    </ul>
</div>
{# End of Tasks #}


{# The below div is to update and show the notes and the show notes comes from different screen #}
<div class="row">
      {# This the dive is to show the notes #}
      <div  id="mydiv">
        <div class="container">
          <div class="progress">
              <div class="indeterminate"></div>
          </div>
        </div>

      </div>
      <div style="padding-left:1.5%;margin-top:-1%;">
        <a style="border-radius:20px;" class="btn waves-effect waves-light primarycol modal-trigger" href="#modal1">Edit Note</a>
      </div>
      {# This the dive is to update the notes #}
      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">

          <form id="note_update" method="post">
            <p style="color:grey;">Select any text for more options</p>
            {% csrf_token %}
            {{form_notes.note_name|safe|linebreaksbr}}
          </form>
        </div>

        <div class="modal-footer">
          <button id="add_task" style="border-radius:20px;" class="btn waves-effect waves-light primarycol" type="button" name="action">Submit</button>
        </div>
      </div>
</div>
{# End of Notes #}



<script type="text/javascript" src="{% static "js/note.js"%}"></script>
<script type="text/javascript" src="{% static "js/cmdupdate.js"%}"></script>
<script type="text/javascript" src="{% static "js/dist/js/medium-editor-tables.js"%}"></script>
<script type="text/javascript" charset="utf-8">
  var editor = new MediumEditor('.editable', {
    placeholder: {
        text: 'Click to edit'
    },
    toolbar: {
      buttons: ['bold','italic','underline','h5','h6','quote','orderedlist','indent','outdent','anchor','table','fontsize',],
      diffLeft: 25,
      diffTop: 10,

    },
    extensions: {
      table: new MediumEditorTable()
    }
  });
  </script>
{% endblock %}
