{%  extends 'base.html' %}
{% load staticfiles %}
{% load my_tag %}
{% block title %}
<title>Dashboard</title>
<!-- medium Stype Editor -->
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
{# <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css"> #}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
{# <link rel="stylesheet" href="{% static "js/dist/css/medium-editor.css"%}" type="text/css" media="screen" charset="utf-8"> #}
<link rel="stylesheet" href="{% static "js/dist/css/medium-editor-tables.css"%}">
{% endblock %}


{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

{# The below div is to update and show the notes and the show notes comes from different screen #}
<div class="row">

      {# This the dive is to show the notes #}
      <div  id="mydiv">

  </div>

      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

      {# This the dive is to update the notes #}
      <div id="modal1" class="modal">
      <div class="modal-content">
        <form id="note_update" method="post">
          {% csrf_token %}
          {{form_notes.note_name|safe|linebreaksbr}}
        </form>
      </div>
      <div class="modal-footer">
        <button id="add_task" class="btn waves-effect waves-light primarycol_btn" type="button" name="action">Submit</button>
      </div>
    </div>

</div>

<script type="text/javascript" src="{% static "js/note.js"%}"></script>
<script type="text/javascript" src="{% static "js/dist/js/medium-editor-tables.js"%}"></script>
<script type="text/javascript" charset="utf-8">
  var editor = new MediumEditor('.editable', {
    placeholder: {
        text: 'Click to edit'
    },
    toolbar: {
      buttons: ['bold','italic','underline','h4','h5','quote','orderedlist','indent','outdent','anchor','table','fontsize',],
      diffLeft: 25,
      diffTop: 10,

    },
    extensions: {
      table: new MediumEditorTable()
    }
  });
  </script>
{% endblock %}
